<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Kingfisher</string>
		<key>link</key>
		<string>https://github.com/onevcat/Kingfisher</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Realm</string>
		<key>link</key>
		<string>https://github.com/realm/realm-cocoa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alamofire</string>
		<key>link</key>
		<string>https://github.com/Alamofire/Alamofire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MoyaX</string>
		<key>link</key>
		<string>https://github.com/jasl/MoyaX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SwiftDate</string>
		<key>link</key>
		<string>https://github.com/malcommac/SwiftDate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RouterX</string>
		<key>link</key>
		<string>https://github.com/jasl/RouterX</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Locksmith</string>
		<key>link</key>
		<string>https://github.com/matthewpalmer/Locksmith</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nimble</string>
		<key>link</key>
		<string>https://github.com/Quick/Nimble</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quick</string>
		<key>link</key>
		<string>https://github.com/Quick/Quick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>commonmark-swift</string>
		<key>link</key>
		<string>https://github.com/chriseidhof/commonmark-swift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SwiftyJSON</string>
		<key>link</key>
		<string>https://github.com/SwiftyJSON/SwiftyJSON</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RxSwift</string>
		<key>link</key>
		<string>https://github.com/ReactiveX/RxSwift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RxDataSources</string>
		<key>link</key>
		<string>https://github.com/RxSwiftCommunity/RxDataSources</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RxGesture</string>
		<key>link</key>
		<string>https://github.com/RxSwiftCommunity/RxGesture</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XCGLogger</string>
		<key>link</key>
		<string>https://github.com/DaveWoodCom/XCGLogger</string>
	</dict>
	<dict>
		<key>name</key>
		<string>R.swift</string>
		<key>link</key>
		<string>https://github.com/mac-cain13/R.swift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kingfisher</string>
		<key>link</key>
		<string>https://github.com/onevcat/Kingfisher</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chromatism</string>
		<key>link</key>
		<string>https://github.com/Anviking/Chromatism</string>
	</dict>
</array>
</plist>
