<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>小铁匠Linus</string>
		<key>blog</key>
		<string>http://linusling.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pmst</string>
		<key>blog</key>
		<string>http://www.jianshu.com/users/596f2ba91ce9/latest_articles</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小锅</string>
		<key>blog</key>
		<string>http://www.swiftyper.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mmoaay</string>
		<key>blog</key>
		<string>http://mmoaay.photo/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ray16897188</string>
		<key>blog</key>
		<string>http://www.jianshu.com/users/97c49dfd1f9f/latest_articles</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Prayer</string>
		<key>blog</key>
		<string>http://www.futantan.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>靛青K</string>
		<key>blog</key>
		<string>http://blog.dianqk.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>saitjr</string>
		<key>blog</key>
		<string>http://www.saitjr.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CMB</string>
		<key>blog</key>
		<string>https://github.com/chenmingbiao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Crystal Sun</string>
		<key>blog</key>
		<string>http://www.jianshu.com/users/7a2d2cc38444/latest_articles</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yake</string>
		<key>blog</key>
		<string>http://blog.csdn.net/yake_099</string>
	</dict>
	<dict>
		<key>name</key>
		<string>星夜暮晨</string>
		<key>blog</key>
		<string>http://www.jianshu.com/users/ef1058d2d851</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cee</string>
		<key>blog</key>
		<string>https://github.com/Cee</string>
	</dict>
	<dict>
		<key>name</key>
		<string>shanks</string>
		<key>blog</key>
		<string>http://codebuild.me/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>walkingway</string>
		<key>blog</key>
		<string>http://chengway.in/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小袋子</string>
		<key>blog</key>
		<string>http://daizi.me/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lfb_CD</string>
		<key>blog</key>
		<string>http://weibo.com/lfbWb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BridgeQ</string>
		<key>blog</key>
		<string>http://wxgbridgeq.github.io/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bestswifter</string>
		<key>blog</key>
		<string>http://bestswifter.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CoderAFI</string>
		<key>blog</key>
		<string>http://coderafi.github.io/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SergioChan</string>
		<key>blog</key>
		<string>https://github.com/SergioChan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>riven</string>
		<key>blog</key>
		<string>http://weibo.com/riven0951</string>
	</dict>
	<dict>
		<key>name</key>
		<string>zltunes</string>
		<key>blog</key>
		<string>http://zltunes.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>aaaron7</string>
		<key>blog</key>
		<string>http://www.jianshu.com/users/9efd08855d3a/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lanford3_3</string>
		<key>blog</key>
		<string>http://lanfordcai.github.io/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>&amp;nbsp</string>
		<key>blog</key>
		<string>https://github.com/initiOSJava</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lou</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天才175</string>
		<key>blog</key>
		<string>http://weibo.com/u/2916092907</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bestswifter</string>
		<key>blog</key>
		<string>JackAlan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pucca601</string>
		<key>blog</key>
		<string>http://weibo.com/601pucca</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我偏笑</string>
		<key>blog</key>
		<string>http://blog.csdn.net/nsnirvana</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BridgeQ</string>
		<key>blog</key>
		<string>http://wxgbridgeq.github.io/</string>
	</dict>
</array>
</plist>
