github "onevcat/Kingfisher" ~> 2.3
github "realm/realm-cocoa" ~> 0.101
github "pkluz/PKHUD"
github "Alamofire/Alamofire"
github "jasl/MoyaX"
github "malcommac/SwiftDate"
github "jasl/RouterX"
github "matthewpalmer/Locksmith"
github "Quick/Nimble"
github "Quick/Quick"
