github "onevcat/Kingfisher" ~> 2.3
github "realm/realm-cocoa" ~> 0.101
github "pkluz/PKHUD"
github "Alamofire/Alamofire"
github "jasl/MoyaX"
github "malcommac/SwiftDate"
github "SwiftyJSON/SwiftyJSON" "master"
github "jasl/RouterX"
github "matthewpalmer/Locksmith"
github "ReactiveX/RxSwift" ~> 2.4
github "RxSwiftCommunity/RxDataSources"
github "indragiek/CocoaMarkdown" "master"
github "Quick/Nimble"
github "Quick/Quick"
