github "onevcat/Kingfisher" ~> 2.4
github "realm/realm-cocoa" ~> 1.0
github "pkluz/PKHUD"
github "Alamofire/Alamofire"
github "jasl/MoyaX"
github "malcommac/SwiftDate"
github "jasl/RouterX"
github "matthewpalmer/Locksmith"
github "Quick/Nimble"
github "Quick/Quick"
github "DianQK/commonmark-swift" "master"
github "SwiftyJSON/SwiftyJSON" "master"
github "ReactiveX/RxSwift" ~> 2.5
github "RxSwiftCommunity/RxDataSources" ~> 0.8
github "RxSwiftCommunity/RxGesture" "master"
github "DaveWoodCom/XCGLogger" ~> 3.3
github "mac-cain13/R.swift.Library"